Flask==2.3.3
requests==2.31.0
# python-telegram-bot==20.6 # Эта библиотека импортируется, но напрямую не используется в коде. Можно удалить, если не планируете её использовать позже.
psycopg2-binary==2.9.7 # Для PostgreSQL, если вы решите перейти с SQLite
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0 # Полезно для управления переменными окружения (например, TELEGRAM_TOKEN) из файла .env
pandas==2.1.0
openpyxl==3.1.2 # Необходим для чтения .xlsx файлов
# xlrd==2.0.1 # Необходим только для чтения старых .xls файлов, если вы планируете поддерживать этот формат